name: Trigger Vercel Deploy

on:
  push:
    branches:
      - main  # Sadece main'e gelen commitlerde çalışır

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy Hook
        run: curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK }}